:{$PORT}

encode gzip

@backend_routes path /_event/* /ping /_health /_upload /_upload/* /api/*
handle @backend_routes {
	reverse_proxy 127.0.0.1:8000
}

root * /srv
route {
	try_files {path} {path}/ /404.html
	file_server {
		precompressed br zstd gzip
	}
}
